# Binaries
# Created by `go build`
/bin
/main
*.exe
*.test
*.prof

# Modules
vendor/

# Go workspace
go.work

# Test coverage
*.out
*.coverprofile

# Editor/IDE specific
.vscode/
.idea/
*.swp
*.swo

# OS specific
.DS_Store
Thumbs.db

# Database registers
users.db